/* ------------------------------------- */
/* This is a style-sheet for animation   */
/* elements which are present when       */
/* interacting with the game interface.  */
/* It should by used by the game and the */
/* tutorial interface.                   */
/* ------------------------------------- */


/* --- Temporary animation elements ---- */

.TAE_causal_freedom_marker {
    position : absolute;
}

.TAE_tank_attack {
    position : absolute;
}

.TAE_tagscreen_lock {
    position : absolute;
    transform-origin : 0 0;
}

.TAE_tagscreen_unlock {
    position : absolute;
    transform-origin : 0 0;
}

.TAE_tagscreen_hide {
    position : absolute;
    transform-origin : 0 0;
}

.cloud_layer {
    transform-origin : 0 0;
}

.cloud_canvas_TAE_tagscreen_lock {
    fill : #D97D55;
    stroke : black;
    stroke-width : 2;
}
.cloud_canvas_TAE_tagscreen_unlock {
    fill : #F4E9D7;
    stroke : black;
    stroke-width : 2;
}
.cloud_canvas_TAE_tagscreen_hide {
    fill : #B6CACE;
    stroke : black;
    stroke-width : 2;
}

.cloud_bg_TAE_tagscreen_lock {
    stroke : none;
    fill : #D97D55;
}

.cloud_bg_TAE_tagscreen_unlock {
    stroke : none;
    fill : #F4E9D7;
}

.cloud_bg_TAE_tagscreen_hide {
    stroke : none;
    fill : #B6CACE;
}

.cloud_fg_TAE_tagscreen_lock {
    fill : none;
    stroke : black;
    stroke-width : 2;
}
.cloud_fg_TAE_tagscreen_unlock {
    fill : none;
    stroke : black;
    stroke-width : 2;
}
.cloud_fg_TAE_tagscreen_hide {
    fill : none;
    stroke : black;
    stroke-width : 2;
}


#board_animation_overlay_text {
    font-size : 15em;
}

.used_time_jump_marker {
    pointer-events : none;
}

.unused_time_jump_marker {
    pointer-events : none;
}

.command_marker {
    stroke : red;
    stroke-width : 5;
    fill : none;
    stroke-opacity : 0.5;
}

