/* ------------------------------------- */
/* This is a style-sheet for all the     */
/* elements which may be found in a game */
/* interface on the board, such as       */
/* bases and stones.                     */
/* This stylesheet is to be used by the  */
/* game interface, tutorial interface,   */
/* and board editor interface.           */
/* ------------------------------------- */

/* --------- Board squares --------- */

.board_square_empty {
    position : absolute;
    fill : #E5E5FF;
    stroke : azure;
}

.board_square_wall {
    position : absolute;
    fill : black;
    fill-opacity : 0.9;
    stroke : azure;
}

.selection_mode_highlight {
    fill : black;
    fill-opacity : 0.3;
    pointer-events : none;
}

.azimuth_indicator {
    fill : white;
    fill-opacity : 0.5;
    stroke : black;
    stroke-width : 3;
}

.azimuth_indicator:hover {
    fill-opacity : 0.7;
}


/* --------------- Bases --------------- */

/* General components */

.hourglass_frame_stand {
    fill : #110702;
}

.hourglass_frame_axle {
    fill : #644117;
}

.hourglass_body {
    fill : white;
    opacity : 0.5;
}

.hourglass_sand_bottom_transitory, .hourglass_sand_top_transitory {
    visibility : hidden;
}

/* Faction properties */

.base_neutral .hourglass_sand_bottom, .neutral_hourglass_sand_bottom_transitory {
    fill : #E7C496;
}

.base_neutral .hourglass_sand_top, .neutral_hourglass_sand_top_transitory {
    fill : #F6D7B0;
}

.base_A .hourglass_sand_bottom, .A_hourglass_sand_bottom_transitory {
    fill : #255F38;
}

.base_A .hourglass_sand_top, .A_hourglass_sand_top_transitory {
    fill : #1F7D53;
}

.base_B .hourglass_sand_bottom, .B_hourglass_sand_bottom_transitory {
    fill : #B03052;
}

.base_B .hourglass_sand_top, .B_hourglass_sand_top_transitory {
    fill : #D76C82;
}



/* -------------- Stones --------------- */


.A_tank_body {
    position : absolute;
    fill : #27391C;
    stroke : #18230F;
    stroke-width : 5;
}

.A_tank_barrel {
    position : absolute;
    fill : #1F7D53;
    stroke : #255F38;
    stroke-width : 5;
}

.A_tank_hatch {
    position : absolute;
    fill : grey;
    stroke : black;
    stroke-width : 3;
}

.B_tank_body {
    position : absolute;
    fill : #B03052;
    stroke : #3D0301;
    stroke-width : 5;
}

.B_tank_barrel {
    position : absolute;
    fill : #EBE8DB;
    stroke : #D76C82;
    stroke-width : 5;
}

.B_tank_hatch {
    position : absolute;
    fill : grey;
    stroke : black;
    stroke-width : 3;
}

.A_bombardier_legs {
    stroke : black;
    stroke-width : 5;
    fill : none;
}

.A_bombardier_left_face {
    stroke : black;
    stroke-width : 5;
    fill : #1F7D53;
}

.A_bombardier_right_face {
    stroke : black;
    stroke-width : 5;
    fill : #255F38;
}

.A_bombardier_welding {
    fill : white;
    stroke : black;
    stroke-width : 5;

}

.B_bombardier_legs {
    stroke : black;
    stroke-width : 5;
    fill : none;
}

.B_bombardier_left_face {
    stroke : black;
    stroke-width : 5;
    fill : #D76C82;
}

.B_bombardier_right_face {
    stroke : black;
    stroke-width : 5;
    fill : #B03052;
}

.B_bombardier_welding {
    fill : white;
    stroke : black;
    stroke-width : 5;

}

.A_sniper_foot {
    stroke : black;
    stroke-width : 5;
}

.A_sniper_left_leg {
    stroke : black;
    stroke-width : 2;
    fill : #1F7D53;
}

.A_sniper_right_leg {
    stroke : black;
    stroke-width : 2;
    fill : #255F38;
}

.A_sniper_gun {
    stroke : black;
    stroke-width : 5;
}

.A_sniper_nest {
    stroke : black;
    stroke-width : 2;
    fill : #18230F;
}

.B_sniper_foot {
    stroke : black;
    stroke-width : 5;
}

.B_sniper_left_leg {
    stroke : black;
    stroke-width : 2;
    fill : #D76C82;
}

.B_sniper_right_leg {
    stroke : black;
    stroke-width : 2;
    fill : #B03052;
}

.B_sniper_gun {
    stroke : black;
    stroke-width : 5;
}

.B_sniper_nest {
    stroke : black;
    stroke-width : 2;
    fill : #B03052;
}

.A_tagger_top_face {
    stroke : black;
    stroke-width : 5;
    fill : #1F7D53;
    stroke-linejoin : round;
}

.A_tagger_right_face {
    stroke : black;
    stroke-width : 5;
    fill : #008664;
    stroke-linejoin : round;
}

.A_tagger_bottom_face {
    stroke : black;
    stroke-width : 5;
    fill : #006cbc;
    stroke-linejoin : round;
}

.A_tagger_left_face {
    stroke : black;
    stroke-width : 5;
    fill : #cf0006;
    stroke-linejoin : round;
}

.A_tagger_outline {
    stroke : #255F38;
    stroke-width : 5;
    fill : none;
}

.B_tagger_top_face {
    stroke : black;
    stroke-width : 5;
    fill : #D76C82;
    stroke-linejoin : round;
}

.B_tagger_right_face {
    stroke : black;
    stroke-width : 5;
    fill : #008664;
    stroke-linejoin : round;
}

.B_tagger_bottom_face {
    stroke : black;
    stroke-width : 5;
    fill : #006cbc;
    stroke-linejoin : round;
}

.B_tagger_left_face {
    stroke : black;
    stroke-width : 5;
    fill : #cf0006;
    stroke-linejoin : round;
}

.B_tagger_outline {
    stroke : #B03052;
    stroke-width : 5;
    fill : none;
}

.A_wildcard_body {
    stroke : black;
    stroke-width : 5;
    fill : #1F7D53;
}

.A_wildcard_halo {
    stroke : #27391C;
    stroke-width : 10;
    stroke-linecap : round;
}

.B_wildcard_body {
    stroke : black;
    stroke-width : 5;
    fill : #D76C82;
}

.B_wildcard_halo {
    stroke : #3D0301;
    stroke-width : 10;
    stroke-linecap : round;
}

.GM_box_base {
    fill : #8a6955;
}

.GM_box_line {
    stroke : #4b3929;
    stroke-width : 7;
}

.GM_box_outline {
    fill : none;
    stroke : #25190d;
    stroke-width : 5;
}

.GM_mine_body {
    fill : #d13427;
    stroke : #881e20;
    stroke-width : 5;
}

.GM_mine_button {
    fill : #642723;
    stroke : #e3cca3;
    stroke-width : 3;
}






